.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container{
    width: 100%;
}

.modal {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 40%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    margin-right: 10px;
}
.prioritydiv{
    display: flex;
    gap: 20px;

}
.inputdiv{
    display: flex;
    border: 1px solid;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: 60px;
    
}
.inputdiv1{
 
    margin: 0;
    padding:10px;
    height: 20px;
    width: 10%;
    
}
.inputdiv2{
  height: 20px;
}

