.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
}


.modal {
    background: white;
    padding: 20px;
    border-radius: 18px;

    width: 686px;
    height: 600px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
}

.titlediv{
    display: flex;
    flex-direction: column;
    gap: 1px;
    
}
.titlediv input{
 width: 640px;
 height: 30px;
}
.titlediv h2{
    font-size: 20px;
    color: rgb(54, 53, 53);
}

.modal span {
    color: red;
}

button {
    margin-right: 10px;
}

.prioritydiv {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.prioritydiv button {
    width: 160px;
    height: 40px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(57, 55, 55, 0.3);
    color: rgb(54, 52, 52);
}

.prioritydiv button img {
    margin-right: 10px;
    border: none;
}
.prioritydiv h3{
    width: 120px;
    font-size: 18px;
   

}

.inputdiv {
    display: flex;
    align-items: center;
    box-shadow: 0 5px 15px rgba(57, 55, 55, 0.3);
    border: 1px solid grey;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
    height: 25px;
    color: rgb(54, 52, 52);
   
}


.inputdiv img {
    padding: 2px;
    margin-right: 5px;
}
/* 
.scroll {
    margin: 20px;
    max-height: 200px;
    border: 2px solid rgb(32, 139, 32);
} */

.inputdiv1 {
    margin: 0;
    padding: 10px;
    height: 20px;
    width: 20px;
}

.scrolldiv {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    max-height: 200px;
    overflow-y: scroll;
    margin: 10px;
}

.inputdiv2 {
    height: 0px;
    border: 1px solid red;
    border: none;
    outline: none;

}

.assigndiv {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 30px;
}

.assigndiv h4 {
    color: rgb(54, 52, 52);
    width: 80px;
    margin-bottom: 10px;
    font-size: 20px;
}
.assigndiv input{
    width: 540px;
    height: 30px;
}

.buttons {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 10px;
}




.buttons button:nth-child(2) {
    height: 40px;
    width: 90px;
    background-color: #17a2b8;
    color: white;
    border: none;
    width: 140px;
    border-radius: 10px;
    font-size: 18px;
     font-family: "Noto Sans", sans-serif;
}
.buttons button:nth-child(1) {
    height: 40px;
    width: 140px;
    color: red;
    border: 1px solid red;
    background-color: white;
    border-radius: 10px;
    font-size: 18px;
     font-family: "Noto Sans", sans-serif;
}
.datepicker{
    height: 10px;
    width: 120px;
    font-size: 16px;
    text-align: center;

}