/* toast.module.css */
.toast {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    
    color: #30bd3c;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(42, 255, 14, 0.1);
    z-index: 1000;
    opacity: 0.9;
    transition: opacity 0.3s ease-in-out;
   
    text-align: center;
   
  }
  
  .toast h4 {
    text-align: center;
    font-size: 20px;
    margin: 0;
    padding: 20px; 
    border :1px solid;/* Ensure there's no default margin */
  }
  
  