/* Login.module.css */

.container {
  display: flex;

}



.artImage {
  position: relative;
  z-index: 2;

  margin-bottom: -10%;

}



.loginDiv {

  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30vh;
}

.inputDiv {
  display: flex;

  border-radius: 10px;
  padding: 5px;
  gap: 10px;
  border: 1PX SOLID grey;
  /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
}

.inputDiv input {
  height: 0px;
  border: none;
  width: 300px;
  outline: none;
  margin-top: 8px;

 
}
.hasaccount{
  font-weight: 400;
  color: rgb(58, 65, 71);
}
.error{
  color: red;
}

.spanimg{
 margin-left: 0px;
}
.mainDiv {
  display: flex;
  flex-direction: column;
  gap: 10px;

}
.errorBorder {
    border: 1px solid red;
    display: flex;
    border-radius: 10px;
    padding: 5px;
    gap: 10px;
    align-items: center;
    height: 35px;
    width: 416px;

  }
.errorBorder input {
    height: 1px;
    border: none;
    width: 300px;
    outline: none;
    margin-top: 8px;
}


.btndiv {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;

}

.loginbtn{
  background-color: #17a2b8;
  padding: 10px;
  border: none;
  font-size: 16px;
  border-radius: 18px;
  color: white;
  width: 425px;
  height: 40px;
}
.regbtn{
  background-color: rgb(255, 255, 255);
  
  padding: 10px;
  border: none;
  font-size: 16px;
  border-radius: 18px;
  color: #17a2b8;
  width: 425px;
  height: 40px; 
  border: 2px solid  #17a2b8;
}
