@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
}

.container {
    width: 100%;
}




.modal {
    background: white;
    padding: 20px;
    border-radius: 18px;
    width: 686px;
    height: 600px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
}

.titlediv{
    display: flex;
    flex-direction: column;
    gap: 1px;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    
}
 .titlediv span{
    margin-left: 4px;
}
.titlediv input{
 width: 640px;
 height: 30px;
 border-color: rgb(217, 206, 206);
 color: rgb(96, 91, 91);
 font-size: 18px;
}
.titlediv h2{
    font-size: 20px;
    color: rgb(54, 53, 53);
}

.modal span {
    color: red;
}

button {
    margin-right: 10px;
}

.prioritydiv {
    margin-top: 10px;
    display: flex;
    align-items: center;
    font-family: "Noto Sans", sans-serif;
   
  
}

.prioritydiv button {
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 3px;
    background-color: white;
    border: 1px solid rgb(228, 223, 223);
    font-size: 12px;
    color: rgb(54, 52, 52);
    margin-left: 10px;
}

.prioritydiv button img {
    margin-right: 10px;
    border: none;
}
.prioritydiv h3{
    width: 160px;
    font-size: 18px;
    margin-left: -12px;
  font-weight: 500;
    text-align: center;
   

}
.prioritydiv span{
    margin-left: 4px;
}

.inputdiv {
    display: flex;
    align-items: center;
   
    border: 1px solid rgb(214, 203, 203);
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
    height: 25px;
    color: rgb(54, 52, 52);
   
}


.inputdiv img {
    padding: 2px;
    margin-right: 5px;
}



.inputdiv1 {
    border: 1px solid rgb(168, 18, 18);

    margin: 0;
    padding: 10px;
    height: 20px;
    width: 20px;
   
}

.scrolldiv {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    max-height: 160px;
    overflow-y: auto;
    margin: 10px;
    scrollbar-width:40px;
    scrollbar-color: #9cb7c5; 
  
    
    &::-webkit-scrollbar {
      width: 12px; 
    }
  
    &::-webkit-scrollbar-track {
      background: #eef2f5; 
      border-radius: 20px;
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: #9cb7c5;
      border-radius: 30px; 
      border: 2px solid #eef2f5; 
    }
  
    &::-webkit-scrollbar-thumb:hover {
      background-color: #9cb7c5;
    }
}

.inputdiv2 {
    height: 0px;
    border: 1px solid red;
    border: none;
    outline: none;

}

.assigndiv {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.assigndiv h4 {
    color: rgb(54, 52, 52);
    width: 80px;
    margin-bottom: 10px;
    font-size: 16px;
    margin-right: -20px;
    font-family: "Noto Sans", sans-serif;
}


.buttons {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 10px;
}




.savebtn {
    height: 40px;
    width: 90px;
    background-color: #17a2b8;
    color: white;
    border: none;
    width: 140px;
    border-radius: 10px;
    font-size: 18px;
    font-family: "Noto Sans", sans-serif;
}
.buttons button:nth-child(1) {
    height: 40px;
    width: 140px;
    color: red;
    border: 1px solid red;
    background-color: white;
    border-radius: 10px;
    font-size: 18px;
     font-family: "Noto Sans", sans-serif;
}

.datepicker{
    height: 25px;
    width: 120px;
    font-size: 16px;
    text-align: center;

}
.select {
   
    width: 560px;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    outline: none;
    position: relative;
   
    

}
.check span{
    margin-left: 3px;
    color: black;  
    font-weight: 500;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
}


.selectOption {
    display: flex;
    align-items: center;
    justify-content: center;
     color: black;
     gap: 30px;
    padding: 8px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 60px;
    width: 400px;
}

.avatar {
    width: 40px !important; 
    height: 40px;
    background-color:rgb(245, 225, 225);

    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
    margin-left: -50px;
    margin-right: -10px;
   
}

.emaildiv {
    width: 220px;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: flex-start;


}

.emaildiv .email {
    font-family: "Noto Sans", sans-serif;
    width: 300px;
    word-wrap: break-word;
    color: black;
    margin: 0; /* Reset margin */
 
    font-size: 18px;
    margin-left: 5px;
    
  
}



.assignButton {
    background-color: #fdfdfd;
    color: rgb(0, 0, 0);
    border-radius: 12px;
    border: 1px solid grey;
    padding: 8px 12px;
    
    cursor: pointer;
    font-size: 14px;
    width:150px;
    margin-left: 30px;
    margin-right: -40px;
}

.assignButton:hover {
    background-color: rgb(231, 223, 223);

}

.priorityButton img {
    margin-right: 10px;
}

.priorityButton:hover,
.priorityButton.selected {
    background-color: #cfcece;
    border-color: #aaa;
}

.priorityButton.selected {
    font-weight: bold;
}
.adnew img{
    font-weight: 500;
}