/* Login.module.css */

.container {
    display: flex;
  
  }
  
  
  
  .artImage {
    position: relative;
    z-index: 2;
    margin-bottom: -10%;
  
  }
  
  
  
  .loginDiv {

    display: flex;
    gap: 30px;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
    width: 50vh;
    height: 50vh;
  
  }
  
  .inputDiv {
    display: flex;
    height: 40px;
    border-radius: 10px;
    padding: 5px;
    gap: 10px;
    border: 1PX SOLID grey;
    /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
  }
  
  .inputDiv input {
    border: none;
    width: 300px;
    outline: none;
  }
  
  .mainDiv {
    display: flex;
    flex-direction: column;
    gap: 10px;
  
  }
  
  .btndiv {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    
  
  }
  
  .btndiv button {
    background-color: #17a2b8;
    padding: 5px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    width: 470px;
    height: 40px;
  }