*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    margin: 60px
    
    
}
.maindiv{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    gap: -12px;
    background-color: rgb(244, 250, 250);
    height: 300px;
    width: 800px;
    font-size: 25px;
}
.maindiv div{
    display: flex;
    gap: 40px;
    width: 100%;
}